 /* @import url('https://fonts.googleapis.com/css?family=Crimson+Text:700&display=swap'); */
@import url('https://fonts.googleapis.com/css?family=Open+Sans&display=swap');


body {
  margin: 0; 
  font-family: 'Open Sans', sans-serif;
  font-weight: bold ;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  padding-top: 50px;
  background-image: url('./bg2.jpg');
  padding-top: 0px;
  background-size: 100%;
  color: rgba(255, 255, 255, 1) 
}

code {
  font-family: 'Open Sans', sans-serif;
}

.uefa-items {
  width: 250px;
  margin: auto;
}
/* .list-group-item{
    background-color: none ;   
    border-bottom: 1px solid rgba(255, 255,225, 0.125)
} */
 h2{
   font-size: 2rem
 }
.list-group-item {
  position: relative;
  display: block;
  padding: .75rem 1.25rem;
  margin-bottom: -1px;
  background-color: transparent !important ;
  border-bottom: 1px solid rgba(141, 140, 140, 0.125) !important;
  border: none;
}
.bg-dark {
  background-color: #181d21!important;
  opacity: 0.6;
  
}
.navbar-light .navbar-brand .navbar-nav .nav-link .navbar-text{
  color: rgba(255, 255, 255, 1) !important;
}
a{
  color: rgba(255, 255, 255, 1) !important
}
footer {
  
  padding: 10px;
  text-align: center;
  color: white;
  margin-top: 3%;
  bottom: 0%;
  height:100px ;
  display: flex;
  flex-wrap: wrap;
  justify-content: space-evenly;
}

.footer-content{
  display: inline-block;
  height: 100px;
  width: 100px;
  margin-left: 15px;
  border-radius: 5px
}
.sponsor{
  
  margin: auto 0;
}
hr{
  background-color: aliceblue;
  width: 70%;
  margin-bottom: 1px;
}